.catImage {
    object-fit: cover;
}

.title {
    font-weight: 500;
    font-size: 6rem;
}

.catCardContent {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.catCardContent:last-child {
    padding-bottom: 2px !important;
}